.project-main {
    margin: 3vw 4vw;
}

.project-boiler {
   /* background: gray;*/
    display: flex;
    line-height: 0vh;;
}

.project-cover {
    /*background: lightcoral;*/
    width: 65%
}

.project-cover img {
    width: 100%;
}

.project-cover iframe {
    width: 100%;
    height: 100%;
}


.project-sidebar {
    /*background: lightpink;*/
    display: inline-block;
    width: 35%;
}

.project-information {
   /* background: lightblue;*/
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-title {
    background-color: #43a1e0;
    font-size: 2.5vw;
    text-align: center;
    margin: 0vw 1vw;
    padding: 1.5vw 0vw;
    border-radius: 0.5vw;

}

.project-title h1 {
    color:white;
    font-size: 80%;
    line-height: 1vw;
}

.project-stat {
    background: lightgray;
    text-align: center;
    margin: 1vw 1vw 0vw;
    max-height: 4vw;
    min-height: 3vw;
    padding: 0.5vw 0vw;
    border-radius: 0.5vw;
    flex: 1;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-stat h1 {
    color: lightslategray;
    font-size: 1vw;
    line-height: 0vh;
    font-weight: bold;
}

.project-stat p {
    font-size: 1.5vw;
    line-height: 0vh;
}

.project-links {
    /*background: lightseagreen;*/
    display: flex;
    height: 10%;
}

.project-links a {
    background: lightgreen;
    flex: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5vw;
    margin: 0.5vw 1vw 0vw;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-images {
    max-height: 50vh;
    display: flex;
    margin: 1vw 0vw; 
}

.project-images img {
    max-height: 28vw;
    max-width: 28vw;
    margin: 0vw auto;
    object-fit: cover;
    flex: 1;

    border-radius: 2vw;
    transition:transform 0.25s ease;
}

.project-images img:hover {
    -webkit-transform:scale(1.25);
    transform:scale(1.25);
}

.project-blocks{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-block{
    margin: 1vw;
    flex: 1;
}

.project-block-title {
    background-color: #43a1e0;
    color: white;
    padding: .5vw;
    text-align: center;
    line-height: 0.5vw;

    border-radius: 1vw;
    margin: 0vw 10vw;
}

.project-block-content{
    /*background: aquamarine;*/
    text-align: center;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-block-content.goal{
    height: 10vh;
}

.project-block-content p{
    font-size: 1vw;
    margin: 1vw 18vw;
}

.project-block-content ul li {
    font-size: 1vw;
    list-style-type: none;
    padding: 1vw 5vw;
}

.project-block-content-list{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}