body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: white;
}

header {
    background: #43a1e0;
    color: #ffffff;
}

header #navigation {
    display: flex;
    vertical-align: middle;
    font-size: 1.5vw;
}

header #navigation ul li {
    display: inline-block;
}

header #navigation-internal ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 1vw;
}

header #navigation-internal ul li a:hover {
    background: #444;
    border-radius: 10px;
    /*Rounds corners*/
    transition: 0.5s ease all;
}

header #navigation-internal {
    width: 49%;
    display: inline-block;
    text-align: left;
}

header #navigation-external {
    width: 49%;
    display: inline-block;
    text-align: right;
}

header #navigation-external ul li a {
    color: white;
    text-decoration: none;
    padding: 1vw;
}

header #navigation-external img {
    width: 3vw;
    vertical-align: middle;
}

footer {
    background: #43a1e0;
    color: #ffffff;
    padding: 1vw;
    text-align: center;
    line-height: 1vw;
}

footer img{
    display: block;
    margin: 0vw auto 0.2vw;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 0.25vw;
}

footer h1{
    font-size: 1vw;
    line-height: 1vw;
}

footer a{
    color: #ffffff;
    font-size: 0.8vw;
    text-decoration: none;
    text-align: center;
    line-height: 1vw;
}

.hero {
    display: grid;
    margin: 3vw;
}

.hero-identity, .hero-content {
    grid-area: 1/1;
}

.hero-identity {
    background: #e6e6e6;
    width: 32.5vw;
    line-height: 1vw;
    height: auto;
    text-align: center;

    min-height: 32.5vw;
    border-radius: 5vw;

    box-sizing: border-box;
    border: 0.25vw solid black;
}

.hero-identity img {
    width: 45%;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 2vw;

    box-sizing: border-box;
    border: 0.25vw solid black;
}

.hero-identity h1 {
    font-size: 2.5vw;
}

.hero-identity h2 {
    font-size: 2vw;
}

.hero-identity a {
    font-size: 2vw;
    color: #43a1e0;
}

.hero-content {
    background: #43a1e0;
    color: white;
    line-height: 1.5vw;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    min-height: 32.5vw;
    border-radius: 5vw;
}

.hero-content p {
    font-size: 1.4vw;
    margin-left: 38%;
    margin-right: 5%;
}

.section-header {
    text-align: center;
    min-height: 8vw;
    font-size: 2vw;
    line-height: 1vw;
    margin: 1vw 3vw;
    color: white;
    background: #43a1e0;
    border-radius: 2vw;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.projects {
    color: white;
    display: flex;
    margin: 2vw;
}

.projects-project {
    background: #43a1e0;
    position: relative;
    flex: 1;
    align-items: center;
    margin: 0vw 2vw 0vw;
    border-radius: 2vw;
    display: inline-block;
}

.info {
    transition: .5s ease;
    line-height: 1.5vw;
    font-size: 1.5vw;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: gray;

    width: 20vw;
    border-radius: 2vw;
}

.projects-project-cover{
    position: relative;
}

.preview-image {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 2vw;
    box-sizing: border-box;
    border: 0.25vw solid black;
}

.highlight{
    position: absolute;
    background: #444;
}

.projects-project-cover:hover .preview-image {
    opacity: 0.6;
}

.projects-project-cover:hover .info {
    opacity: 1;
}


.devlogs {
    color: white;
    display: flex;
    margin: 1vw 2vw;
}

.devlogs-project {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0vw 1vw;
    border-radius: 0.5vw;
    text-align: center;

    min-height: 20vw;
}

.devlogs-link {
    background: white;
    margin: 1vw 1vw;
    border-radius: 0.75vw;
}

.devlogs-link a{
    text-decoration: none;
}

.button-devlog {
    color: white;
    height: 6vw;
    text-decoration: none;
    border: 0.25vw solid black;
    border-radius: 0.75vw;
    transition: .5s ease;
}

.button-devlog:hover{
    background: #b4b4b4;
    transition: 0.5s ease;
}
.button-devlog h1 {
    color: black;
    padding: 0.5vw 1.5vw 0vw;
    font-size: 1.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin: auto;
}

.button-devlog h2 {
    padding: 0vw 1.5vw 0vw;
    color: #444;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: left;
    margin: auto;
}

.button-devlog p {
    padding: 0vw 1.5vw 0vw;
    color: black;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: left;
    margin: auto;
}