body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background: #43a1e0;
    color: #ffffff;
    padding: 10px;
}

header #navigation {
    display: flex;
    vertical-align: middle;
    font-size: 20pt;
}

header #navigation ul li {
    display: inline-block;
}

header #navigation-internal ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px
}

header #navigation-internal ul li a:hover{
    background: #444;
    border-radius: 10px; /*Rounds corners*/
    transition: 0.5s ease all;
}

header #navigation-internal {
    width: 49%;
    display: inline-block;
    text-align: left;
}

header #navigation-external {
    width: 49%;
    display: inline-block;
    text-align: right;
}

header #navigation-external ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

header #navigation-external img {
    width: 45px;
    vertical-align: middle;
}

.hero {
    min-height: 800px;
    text-align: center;
    background: #555;
    background-image: url('images/background.jpg');
    background-size: cover;   
}

.hero-content {
    color: white;
    padding-top: 130px;
    line-height: 1;
}

.hero-title {
    margin: 0;
    font-size: 100px;
}

.hero-content p {
    font-size: 50px;
    margin-bottom: 60px;
}

.hero-content img {
    width: 150x;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}
