/* VARIABLES*/
:root{
  --primary-colour: #343E85;
  --primary-colour-shade: #0E1A48;
  
  --secondary-colour: #853438;
  --secondary-colour-shade: #40191B;

  --teritary-colour: #474B59;
  --teritary-colour-shade: #31343d;
}

/*
 CSS for the main interaction
*/

.tabset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.headerset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.tabset .tab-panel {
  display: none;
}

.headerset .header-panel {
  display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

.headerset>input:first-child:checked~.header-panels>.header-panel:first-child {
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-colour);
  border: 0.15vw solid black;
  border-radius: 0.15vw;
}

::-webkit-scrollbar {
  width: 1vw;
  background-color: var(--secondary-colour-shade)
}

/*
   Styling
*/
header {
  text-align: center;
  min-height: 6vw;
  display: flex;
}

/* NAVIGATION */
.navigation {
  display: grid;
  grid-template-columns: 37.5% 25% 37.5%;
  /*background: lightcoral;*/
  width: 100%;

  margin-bottom: -1vw;
}

.title,
.external {
  display: flex;
}

#left-navigation {
  grid-row: 1;
  grid-column: 1;
}

#right-navigation{
  grid-row: 1;
  grid-column: 3;
}

.external {
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-bottom: -1.5vw;
}

.external>.link-button {
  line-height: 0;
  margin: 0vw 2vw;
  margin-top: 0vw;
}


.external img {
  width: 6vw;
  border: 0.15vw solid black;
  border-radius: 5vw;
  background: var(--secondary-colour);
}

.tabset {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1vw 4vw 3vw;
}

.tab-panel {
  background-color: var(--secondary-colour);
  min-height: 500px;
}

body {
  font: 1vw/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  background: var(--primary-colour);
  margin: 0;
}

.tabset>label {
  /*margin-top: -10vw;  Higher or lower number depending on how far up you want it to go */
  position: relative;
  display: inline-block;
  padding: 1.5vw 1.5vw;
  border: 0.15vw solid black;
  border-bottom: 0;
  width: fit-content;
  cursor: pointer;

  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 5px;

  border-radius: 1vw 1vw 0vw 0vw;
  background: var(--secondary-colour-shade);
  color: gray;
  flex: 1;
  max-height: 5vw;
  justify-content: center;
  flex-direction: column;
  transition: background 0.25s;

  z-index: 5;
}

/*
.tabset>label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}*/

input:focus-visible+label {
  /*outline: 2px solid rgba(0, 102, 204, 1);*/
  /*border-radius: 3px;*/
}

.tabset>label:hover,
.tabset>input:focus+label,
.tabset>input:checked+label {
  background: var(--secondary-colour);
  color: white;
  transition: background 0.25s;

}


.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: white;
}

.tabset>input:checked+label {
  border-color: #ccc;
  border: 0.15vw solid black;
  border-bottom: 0.15vw solid var(--secondary-colour);
  margin-bottom: -0.2vw;
}

.tab-panels {
  position: relative;
  flex-basis: 100%;
  border-top: 0.15vw solid black;
  background: var(--secondary-colour);
  border: 0.15vw black solid;
  z-index: 2;
}

.tab-panel {
  margin: 0vw 4vw;
  z-index: 1;
}


header {
  background: var(--primary-colour);
  color: #ffffff;
}

/* Section Header Style */
.section-header {
  margin: 2vw 0vw 0vw 0vw;
  display: grid;
}

.bottom,
.top,
.right {
  grid-column: 1;
  grid-row: 1;
}

.section-header>.bottom {
  background: var(--primary-colour-shade);
  height: 5vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.section-header>.top {
  background: var(--primary-colour);
  color: white;
  height: 5vw;
  font-size: 3.5vw;
  font-weight: bold;
  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.section-header>.top:hover{
  margin-top: 1vw;
}*/
/*------------------------------------*/

/* Project Button Style*/
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  gap: 2vw;

  margin-bottom: 2vw;
  margin-top: 2vw;
}

.project {
  display: grid;
  flex: 1;
}

.project-bottom,
.project-top {
  grid-row: 1;
  grid-column: 1;
  height: 45vw;
}

.project-bottom {
  display: flex;
  background: #A19676;

  border: 0.15vw solid black;
  border-radius: 1vw;

  margin-top: 1vw;
}

.project-top {
  display: flex;

  background: #E0D5B5;
  border: 0.15vw solid black;
  border-radius: 1vw;

  justify-content: center;
  align-items: center;

  transition: margin-top 0.25s ease-in;
}

.project-top>a {
  width: 100%;
  height: 100%;
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;
  object-fit: cover;
}

.preview-info {
  transition: opacity .5s ease;

  width: 100%;
  height: 20%;
  border: 0.15vw solid black;
  border-radius: 0 0 0.8vw 0.8vw;

  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;

  background: rgb(34, 34, 34);
}


.text {
  color: white;
  font-size: 1vw;
  font-weight: bold;
  margin: 1vw;
}

.project>.project-top:hover {
  margin-top: 1vw;
  transition: margin-top 0.25s ease-in;
}

.project>.project-top:hover .preview-info {
  transition: opacity .5s 0.30s ease;
  opacity: 0.9;
}

.button,
.button-header,
.link-button {
  display: grid;

  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding-top: 1vw;
  padding-bottom: 2vw;
}

.button-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button-top>a {
  width: 100%;
  height: 100%;
  position: relative;

  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  transition: margin-top 0.25s ease-in;
}

.button-header>.button-bottom,
.button-header>.button-top {
  grid-row: 1;
  grid-column: 1;

  height: 8vw;
}

.button-header>.button-top>a:hover {
  margin-top: 0.85vw;
  transition: margin-top 0.25s ease-in;
}

#resume>.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 2vw;
  margin-bottom: 4vw;
}

#resume-header {
  margin: 0;
  width: 50vw;
}

#resume-header>.top{
  border: 0;
  border-bottom: 0.15vw solid black;
}

.resume-embed>iframe {
  height: 45vw;
  width: 40vw;
  
  margin-top: 2vw;
}

.resume-embed {
  display: flex;
  background: var(--teritary-colour);
  width: 50vw;
  border: 0.15vw solid black;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download-button { 
  display: grid;
  margin-top: 2vw;
}

.download-button>.top,
.download-button>.bottom {
  grid-column: 1;
  grid-row: 1;
}

.download-button>.bottom {
  background: var(--primary-colour-shade);

  height: 10vw;
  width: 50vw;

  margin-top: 1vw;
  border-bottom: 0.15vw solid black;
}

.download-button>.top {
  background: var(--primary-colour);
  border-bottom: 0.15vw solid black;
  border-top: 0.15vw solid black;

  height: 10vw;
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button>.button-bottom,
.button>.button-top {
  grid-row: 1;
  grid-column: 1;

  height: 8vw;
}

.button>.button-bottom {
  background: var(--secondary-colour-shade);
  width: 40vw;

  margin-top: 1vw;
  border: 0.15vw solid black;

  border-radius: 2vw;
}

.button>.button-top {
  background: var(--secondary-colour);
  width: 40vw;
  border: 0.15vw solid black;

  border-radius: 2vw;

  transition: margin-top 0.25s ease-in;
}

.button>.button-top:hover {
  margin-top: 1vw;
  transition: margin-top 0.25s ease-in;
}

.logo-image {
  height: 8vw;
}

.logo-image-back {
  height: 6.075vw;
  margin-top: 3.5vw;
}

.link-button>.button-bottom,
.link-button>.button-top {
    grid-row: 1;
    grid-column: 1;

    height: 6vw;
} 

.link-button>.button-top>a:hover {
    margin-top: 1vw;
    transition: margin-top 0.25s ease-in;
}

.link-button>.button-top {
  border-radius: 5vw;
}

.link-button>.button-bottom {
  background: var(--secondary-colour-shade);
  width: 6vw;

  margin-top: 2vw;
  border: 0.15vw solid black;
  border-radius: 5vw;
}


/* ABOUT ME */
.about-me-content{
  margin-top: 2vw;

  font-size: 1.5vw;
}

.profile-pic {
  width: 18vw;
  margin: 1vw 2vw;
  margin-left: 1vw;

  border-radius: 1vw;
  border: 0.15vw solid black;
}

.hero-panel {
  display: grid;
  margin: 0vw 0vw 1vw;

  min-height: 30vw;
}

.hero-panel>.bottom {
  background: var(--teritary-colour-shade);
  height: 35vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.hero-panel>.top {
  background: var(--teritary-colour);
  color: white;
  height: 35vw;
  font-size: 1.5vw;
  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-panel>.top p{
  margin-right: 2.5vw;
  line-height: 3vw;
  color: white;

}

.about-me-lists{
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 1.5vw;
  margin-top: 3vw;

}

.about-me-list {
  background: var(--teritary-colour);
  color: white;
  min-width: 18vw;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#middle-list {
  margin: 0vw 2vw;
}

/* List Header Style */
.list-header {
  background: var(--primary-colour);
  color: white;
  height: 3vw;
  
  border: 0.15vw solid black;
  border-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-header> h1 {
  font-size: 1.75vw;
  font-weight: bold;
}


/*List Body Style*/
.list-body {
  display: grid;
}

.list-body>.bottom {
  background: var(--secondary-colour-shade);
  height: 10vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.list-body>.top {
  background: var(--secondary-colour);
  color: white;
  height: 10vw;
  font-size: 1.5vw;

  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-body>.top>ul {
  padding: 0;
  margin: 1vw 0vw 0vw;
}

.list-body>.top>ul li{
  list-style: none;
  text-decoration: none;

  margin-bottom: 1vw;
}

.wip {
  height:30vw;
  margin: 8vw 0vw;
}

/*------------------------------------*/
footer {
  position: relative;
  background: var(--secondary-colour);
  min-height: 5vw;
  border-top: 0.15vw solid rgb(53, 53, 53);
  z-index: 2;
}