/*
 CSS for the main interaction
*/

.tabset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.headerset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.tabset .tab-panel {
  display: none;
}

.headerset .header-panel {
  display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

.headerset>input:first-child:checked~.header-panels>.header-panel:first-child {
  display: block;
}

/*
   Styling
*/
header {
  text-align: center;
  min-height: 5vw;
}

.headerset {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.headerset>label {
  position: relative;
  display: flex;
  padding: 15px 15px;
  width: 30%;
  min-height: 5vw;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 600;
  background: #A19676;
  color: white;
  
  border: 2px solid black;

  margin-bottom: -2vw;
  padding-top: 2vw;
  flex-direction: column;
}

.header-panel .content{
  background: #ffffff;
  display: flex;
  margin-bottom: -2vw;
  min-height: 30vw;
}

.side {
  background: #B6BCE0;
  color: white;
  flex: 1;
  border: 2px solid black;
  border-bottom: 0px;
  padding: 15px 15px;
  z-index: 1;
  
}

.middle {
  position: relative;
  width: 30%;
  background: #A19676;
  color: white;
  padding: 15px 15px;
  z-index: 1;
  font-size: 1.5vw;
}

.middle img {
  width: 15vw;
  height: 15vw;
  border-radius: 2vw;
}

.tabset {
  text-align: center;
}

.tab-panel {
  background-color: #B6BCE0;
}

body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  background-color: #E0D5B5;
  margin: 0;
}

.tabset>label {
  margin-top: -10vw; /* Higher or lower number depending on how far up you want it to go */
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  border: 2px solid black;
  border-bottom: 0;
  width: 22.95%;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 1vw 1vw 0vw 0vw;
  background: #A0A3BE;
  color: white;

  justify-content: center;
  flex-direction: column;

  z-index: 5;
}

/*
.tabset>label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}*/

input:focus-visible+label {
  /*outline: 2px solid rgba(0, 102, 204, 1);*/
  /*border-radius: 3px;*/
}

.tabset>label:hover,
.tabset>input:focus+label,
.tabset>input:checked+label {
  background: #B6BCE0;
}

/*
.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: white;
}
*/
.tabset>input:checked+label {
  border-color: #ccc;
  border: 2px solid black;
  border-bottom: 2px solid #B6BCE0;
  margin-bottom: -2px;
}

.tab-panels {
  position: relative;

  border-top: 2px solid black;
  background: #B6BCE0;
  z-index: 2;  

}

.tab-panel {
  margin: 0vw 10vw;
  z-index: 1;
  min-height: 30vw;
}


/*
   Demo purposes only
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    padding: 30px;
  }
  
  .tabset {
    max-width: 65em;
  }
  */

header {
  background: #E0D5B5;
  color: #ffffff;
}

footer {
  position: relative;
  background: #A19676;
  min-height: 25vw;
  border-top: 2px solid black;
  z-index: 2;
}