/*
 CSS for the main interaction
*/

.tabset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.headerset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.tabset .tab-panel {
  display: none;
}

.headerset .header-panel {
  display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

.headerset>input:first-child:checked~.header-panels>.header-panel:first-child {
  display: block;
}

::-webkit-scrollbar {
  width: 1vw;
  background-color: #B6BCE0
}

::-webkit-scrollbar-thumb {
  background-color: #A19676;
  border: 0.15vw solid black;
  border-radius: 0.15vw;
}

/*
   Styling
*/
header {
  text-align: center;
  min-height: 6vw;
  display: flex;
}

/* NAVIGATION */
.navigation {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  /*background: lightcoral;*/
  width: 100%;

  margin-bottom: -1vw;
}

.internal,
.title,
.external {
  display: flex;
}

.internal {
  grid-row: 1;
  grid-column: 1;

  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding-right: 2vw;
  padding-left: 2vw;

  line-height: 0;
}

.internal a {
  line-height: 0;
  margin: 0vw 3vw;
  margin-top: 0vw;
}

.internal img {
  width: 6vw;
}

.title {
  grid-row: 1;
  grid-column: 2;

  font-size: 2.5vw;
  font-weight: bold;
  background: #A19676;
  border: 0.2vw black solid;

  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.external {
  grid-row: 1;
  grid-column: 3;

  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.external a {
  line-height: 0;
  margin: 0vw 3vw;
  margin-top: 0vw;
}

.external img {
  width: 6vw;
}

.tabset {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1vw 3vw 3vw;
}

.tab-panel {
  background-color: #DABE6E;
  min-height: 1000px;
}

body {
  font: 1vw/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  background: #343E85;
  margin: 0;
}

.tabset>label {
  /*margin-top: -10vw;  Higher or lower number depending on how far up you want it to go */
  position: relative;
  display: inline-block;
  padding: 1.5vw 1.5vw;
  border: 0.15vw solid black;
  border-bottom: 0;
  width: fit-content;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 1vw 1vw 0vw 0vw;
  background: #635526;
  color: white;
  flex: 1;
  max-height: 5vw;
  justify-content: center;
  flex-direction: column;
  transition: background 0.25s;

  z-index: 5;
}

/*
.tabset>label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}*/

input:focus-visible+label {
  /*outline: 2px solid rgba(0, 102, 204, 1);*/
  /*border-radius: 3px;*/
}

.tabset>label:hover,
.tabset>input:focus+label,
.tabset>input:checked+label {
  background: #DABE6E;
  transition: background 0.25s;

}


.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: white;
}

.tabset>input:checked+label {
  border-color: #ccc;
  border: 0.15vw solid black;
  border-bottom: 0.15vw solid #DABE6E;
  margin-bottom: -0.2vw;
}

.tab-panels {
  position: relative;
  flex-basis: 100%;
  border-top: 0.15vw solid black;
  background: #DABE6E;
  border: 0.15vw black solid;
  z-index: 2;
}

.tab-panel {
  margin: 0vw 4vw;
  z-index: 1;
}


header {
  background: #343E85;
  color: #ffffff;
}

/* Section Header Style */
.section-header {
  margin: 2vw 0vw 0vw 0vw;
  display: grid;
}

.bottom,
.top {
  grid-column: 1;
  grid-row: 1;
}

.section-header>.bottom {
  background: #0E1A48;
  height: 5vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.section-header>.top {
  background: #343E85;
  color: white;
  height: 5vw;
  font-size: 3.5vw;
  font-weight: bold;
  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.section-header>.top:hover{
  margin-top: 1vw;
}*/
/*------------------------------------*/

/* Project Button Style*/
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  gap: 2vw;

  margin-bottom: 2vw;
  margin-top: 2vw;
}

.project {
  display: grid;
  flex: 1;
}

.project-bottom,
.project-top {
  grid-row: 1;
  grid-column: 1;
  height: 45vw;
}

.project-bottom {
  display: flex;
  background: #A19676;

  border: 0.15vw solid black;
  border-radius: 1vw;

  margin-top: 1vw;
}

.project-top {
  display: flex;

  background: #E0D5B5;
  border: 0.15vw solid black;
  border-radius: 1vw;

  justify-content: center;
  align-items: center;

  transition: margin-top 0.25s ease-in;
}

.project-top>a {
  width: 100%;
  height: 100%;
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;
  object-fit: cover;
}

.preview-info {
  transition: opacity .5s ease;

  width: 100%;
  height: 20%;
  border: 0.15vw solid black;
  border-radius: 0 0 0.8vw 0.8vw;

  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;

  background: rgb(34, 34, 34);
}


.text {
  color: white;
  font-size: 1vw;
  font-weight: bold;
  margin: 1vw;
}

.project>.project-top:hover {
  margin-top: 1vw;
  transition: margin-top 0.25s ease-in;
}

.project>.project-top:hover .preview-info {
  transition: opacity .5s 0.30s ease;
  opacity: 0.9;
}

.resume-embed {
  padding-top: 1vw;
}

.button,
.button-header {
  display: grid;

  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding-top: 1vw;
  padding-bottom: 2vw;
}

.button-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button-top>a {
  width: 100%;
  height: 100%;
  position: relative;

  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  transition: margin-top 0.25s ease-in;
}

.button-header>.button-bottom,
.button-header>.button-top {
  grid-row: 1;
  grid-column: 1;

  height: 8vw;
}

.button-header>.button-top>a:hover {
  margin-top: 0.85vw;
  transition: margin-top 0.25s ease-in;
}

.button>.button-top:hover {
  margin-top: 1vw;
  transition: margin-top 0.25s ease-in;
}

.logo-image {
  height: 8vw;

}

.logo-image-back {
  height: 5.175vw;
  margin-top: 4.5vw;
}


/*------------------------------------*/
footer {
  position: relative;
  background: #DABE6E;
  min-height: 5vw;
  border-top: 0.15vw solid rgb(53, 53, 53);
  z-index: 2;
}