/* VARIABLES*/
:root{
    --primary-colour: #343E85;
    --primary-colour-shade: #0E1A48;
    
    --secondary-colour: #853438;
    --secondary-colour-shade: #40191B;
  
    --teritary-colour: #474B59;
    --teritary-colour-shade: #31343d;
  }

.project-background {
    position: relative;
    background: var(--secondary-colour);
    border: 0.15vw black solid;
    margin: 0vw 4vw 3vw; 
    height: auto;
    border-radius: 1vw 1vw 0vw 0vw;   
}

.project-main {
    margin: 0vw 4vw; 
}

/* PROJECT HEADER --------------------------- */
.project-title {
    display: grid;
    margin: 2vw 0vw 0vw;
}

.project-title>.bottom{
    margin-top: 1vw;
    background: var(--primary-colour-shade);

    border: 0.15vw solid black;

    height: 20vw;
}

.project-title>.top {
    display: grid;
    grid-template-columns: 60% 40%;
    background: var(--primary-colour);

    border: 0.15vw solid black;
    
    height: 20vw;
}

.project-title-logo{
    grid-row: 1;
    grid-column: 1;
    height: 18vw;
    
    align-self: center;
    justify-self: center;
    object-fit: cover;
}

.project-title-cover {
    grid-row: 1;
    grid-column: 2;

    height: 20vw;
    width: 100%;
    border-left: 0.15vw solid black;
    
    justify-self: end;
    object-fit: cover;
}

/* PROJECT INFORMATION PANEL --------------------------- */
.infomation-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin: 2vw 0vw 0vw;
}

.info-column {
    display: grid;
    margin: auto;
}

.first-column-info {
    margin-left: 0;
}

.last-column-info {
    margin-right: 0;
}

.info-column>.bottom {
    background: var(--teritary-colour-shade);
    
    height:6vw;
    width: 18vw;

    border: 0.15vw solid black;
    margin-top: 1vw;
}

.info-column>.top {
    display: grid;
    height:6vw;
    width: 18vw;

    border: 0.15vw solid black;
}

.info-title{
    display: flex;
    grid-column: 1;
    grid-row: 1;

    background: var(--primary-colour);
    border-bottom: 0.15vw solid black;
    height:3vw;
    width: 18vw;

    align-content: center;
    justify-content: center;
}

.info-detail {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    
    background: var(--teritary-colour);
    border-bottom: 0.15vw solid black;
    height:3vw;
    width: 18vw;

    align-content: center;
    justify-content: center;
}

.info-title h1,
.info-detail h1 {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

/* PROJECT VIDEO  --------------------------- */
.project-boiler {
    margin-top: 2vw;
    height:45vw;
    width: 100%;
    /* background: gray;*/
    display: flex;
    line-height: 0vh;
}

.project-cover {
    /*background: lightcoral;*/
    width: 100%;
    height: 100%;
}

.project-cover iframe {
    width: 100%;
    height: 100%;
}

/* PROJECT DESCRIPTION & LINKS  --------------------------- */
.project-description-links {
    display: flex;
    margin: 2vw 0vw 0vw;
    gap: 3vw;
}

.project-description {
    display: grid;
    flex: 1;
}

.project-description>.bottom {
    background: var(--teritary-colour-shade);

    height: 8vw;
    width: 100%;
    margin-top: 1vw;

    border: 0.15vw solid black;
}

.project-description>.top {
    background: var(--teritary-colour);
    
    display: flex;
    height: 8vw;
    width: 100%;    
    border: 0.15vw solid black;

    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.project-description>.top p {
    color: white;
    text-align: center;
    text-wrap: balance;
    margin: 0vw 2vw;
}

.project-links{
    display: flex;
    flex: 1;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-link-button {
    display: grid;
    flex: 1;
}

.project-link-button>.bottom {
    height: 8vw;
    margin-top: 1vw;

    border: 0.15vw solid black;
    border-radius: 1vw;
}

.project-link-button>.top {
    height: 8vw;

    border: 0.15vw solid black;
    border-radius: 1vw;

    transition: margin-top 0.25s ease-in;
}

.project-link-button>.top:hover {
    margin-top: 1vw;
    transition: margin-top 0.25s ease-in;
}

.project-link-button>.top img {
    height: 8vw;
}

.project-link-button>.top a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROJECT IMAGES  --------------------------- */
.project-images {
    display: flex;
    margin: 2vw 0vw 0vw;
    gap: 2vw;

    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-image {
    flex: 1;
}

.project-image img {
    height: 20vw;
    width: 100%;
    object-fit: cover;

    border-radius: 1vw;
    border: 0.15vw solid black;
    transition: transform 0.25s ease;
}

.project-images img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* ACCOMPLISHMENTS ----------------------------*/
.accomplishments {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 2vw 0vw 0vw;
}

.accomplishment{
    display: flex;

    width:100%;
    gap: 2vw;

    margin-bottom: 2vw;
}

.accomplishment-details{
    display: grid;
    flex:2;
}

.accomplishment-details>.bottom{
    background: var(--teritary-colour-shade);
    height: 30vw;
    margin-top: 1vw;

    border: 0.15vw solid black;
}

.accomplishment-details>.top{
    background: var(--teritary-colour);
    height: 30vw;

    border: 0.15vw solid black;
}

.accomplishment-title {
    background: var(--primary-colour);
    color: white;

    height: 5vw;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 0.15vw solid black;
}

.accomplishment-title h1{
    font-size: 2.5vw;
    font-weight: bold;
}

.accomplishment-details p{
    color: white;
    text-align: center;
    height: 30vw;
    margin: 0vw 2vw;
}

.accomplishment-image {
    display: grid;
    flex: 1;
}

.accomplishment-image>.bottom {
    background: var(--teritary-colour-shade);
    margin-top: 1vw;
    
    height: 30vw;
    width: 100%;

    border: 0.15vw solid black;
    border-radius: 1vw;
}

.accomplishment-image>.top {
    height: 30vw;
}

.accomplishment-image>.top img {
    height: 30vw;
    width: 100%;
    line-height: 0;
    object-fit: cover;

    border: 0.15vw solid black;
    border-radius: 1vw;
}







.project-blocks {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-block {
    flex: 1;
}
.project-block-content {
    /*background: aquamarine;*/
    text-align: center;
    min-height: 10vh;
    max-height: 40vh;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-block-content p {
    color: white;
    font-size: 1.1vw;
    margin: 1vw 15vw;
}

.project-block-content ul li {
    color: white;
    font-size: 1.1vw;
    list-style-type: none;
    padding: 0vw 3vw 1vw;
}

.project-block-content-list {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
}