/* VARIABLES*/
:root{
  --primary-colour: #343E85;
  --primary-colour-shade: #0E1A48;
  
  --secondary-colour: #853438;
  --secondary-colour-shade: #40191B;

  --tertiary-colour: #474B59;
  --tertiary-colour-shade: #31343d;
}

/*
 CSS for the main interaction
*/

.tabset>input[type="radio"] {
  position: absolute;
  appearance: none;
}

.tabset .tab-panel {
  display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-colour);
  border: 0.15vw solid black;
  border-radius: 0.15vw;
}

::-webkit-scrollbar {
  width: 1vw;
  background-color: var(--secondary-colour-shade)
}

/*
   Styling
*/
header {
  text-align: center;
  min-height: 6vw;
  display: flex;
  margin-bottom: 1vw;
}

/* NAVIGATION */
.navigation {
  display: grid;
  grid-template-columns: 37.5% 25% 37.5%;
  /*background: lightcoral;*/
  width: 100%;

  margin-bottom: -1vw;
}

.title,
.external {
  display: flex;
}

#left-navigation {
  grid-row: 1;
  grid-column: 1;
}

#right-navigation{
  grid-row: 1;
  grid-column: 3;
}

.external {
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-bottom: -1.5vw;
}

.external>.link-button {
  line-height: 0;
  margin: 0vw 2vw;
}


.external img {
  width: 6vw;
  border: 0.15vw solid black;
  border-radius: 5vw;
  background: var(--secondary-colour);
}

.tabset {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0vw 4vw 0vw;
}

.tab-panel {
  background-color: var(--secondary-colour);
}

body {
  font: 1vw/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  background: var(--primary-colour);
  margin: 0;
}

.tabset>label {
  /*margin-top: -10vw;  Higher or lower number depending on how far up you want it to go */
  position: relative;
  display: inline-block;
  padding: 1.5vw 1.5vw;
  border: 0.15vw solid black;
  border-bottom: 0;
  width: fit-content;
  cursor: pointer;

  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 0.5vw;

  border-radius: 1vw 1vw 0vw 0vw;
  background: var(--secondary-colour-shade);
  color: gray;
  flex: 1;
  max-height: 5vw;
  justify-content: center;
  flex-direction: column;
  transition: background 0.25s;

  z-index: 5;
}

/*
.tabset>label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}*/

input:focus-visible+label {
  /*outline: 2px solid rgba(0, 102, 204, 1);*/
  /*border-radius: 3px;*/
}

.tabset>label:hover,
.tabset>input:focus+label,
.tabset>input:checked+label {
  background: var(--secondary-colour);
  color: white;
  transition: background 0.25s;

}


.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: white;
}

.tabset>input:checked+label {
  border-color: #ccc;
  border: 0.15vw solid black;
  border-bottom: 0.15vw solid var(--secondary-colour);
  margin-bottom: -0.2vw;
}

.tab-panels {
  position: relative;
  flex-basis: 100%;
  border-top: 0.15vw solid black;
  background: var(--secondary-colour);
  border: 0.15vw black solid;
  z-index: 2;
}

.tab-panel {
  margin: 0vw 4vw;
  z-index: 1;
}


header {
  background: var(--primary-colour);
  color: #ffffff;
}

/* Section Header Style */
.section-header {
  margin: 2vw 0vw 0vw 0vw;
  display: grid;
}

.bottom,
.top {
  grid-column: 1;
  grid-row: 1;
}

.section-header>.bottom {
  background: var(--primary-colour-shade);
  height: 5vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.section-header>.top {
  background: var(--primary-colour);
  color: white;
  height: 5vw;
  font-size: 3.5vw;
  font-weight: bold;
  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.section-header>.top:hover{
  margin-top: 1vw;
}*/
/*------------------------------------*/

/* Project Button Style*/
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  gap: 2vw;

  margin-bottom: 2vw;
  margin-top: 2vw;
}

.project {
  display: grid;
  flex: 1;
}

.project-bottom,
.project-top {
  grid-row: 1;
  grid-column: 1;
  height: 45vw;
}

.project-bottom {
  display: flex;
  background: var(--tertiary-colour-shade);

  border: 0.15vw solid black;
  border-radius: 1vw;

  margin-top: 1vw;
}

.project-top {
  display: flex;

  background: var(--tertiary-colour);
  border: 0.15vw solid black;
  border-radius: 1vw;

  justify-content: center;
  align-items: center;

  transition: margin-top 0.25s ease-in;
}

.project-top>a {
  width: 100%;
  height: 100%;
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;
  object-fit: cover;
}

.preview-info {
  transition: opacity .5s ease;

  width: 100%;
  height: 20%;
  border: 0.15vw solid black;
  border-radius: 0 0 0.8vw 0.8vw;

  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;

  background: rgb(34, 34, 34);
}


.text {
  color: white;
  font-size: 1vw;
  font-weight: bold;
  margin: 1vw;
}

.project>.project-top:hover {
  margin-top: 1vw;
  transition: margin-top 0.25s ease-in;
}

.project>.project-top:hover .preview-info {
  transition: opacity .5s 0.30s ease;
  opacity: 0.9;
}

.button,
.button-header,
.link-button {
  display: grid;

  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding-top: 1vw;
  padding-bottom: 2vw;
}

.button-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button-top>a {
  width: 100%;
  height: 100%;
  position: relative;

  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  transition: margin-top 0.25s ease-in;
}

.button-header>.button-bottom,
.button-header>.button-top {
  grid-row: 1;
  grid-column: 1;

  height: 8vw;
}

.button-header>.button-top>a:hover {
  margin-top: 1.25vw;
  transition: margin-top 0.25s ease-in;
}

#resume>.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 2vw 0vw;

}

#resume-header {
  margin: 0;
  width: 50vw;
}

#resume-header>.top{
  border: 0;
  border-bottom: 0.15vw solid black;
}

.resume-embed>iframe {
  height: 45vw;
  width: 40vw;
  
  margin-top: 2vw;
}

.resume-embed {
  display: flex;
  background: var(--tertiary-colour);
  width: 50vw;
  border: 0.15vw solid black;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download-button { 
  display: grid;
  margin-top: 2vw;
}

.download-button>.top,
.download-button>.bottom {
  grid-column: 1;
  grid-row: 1;
}

.download-button>.bottom {
  background: var(--primary-colour-shade);

  height: 10vw;
  width: 50vw;

  margin-top: 1vw;
  border-bottom: 0.15vw solid black;
}

.download-button>.top {
  background: var(--primary-colour);
  border-bottom: 0.15vw solid black;
  border-top: 0.15vw solid black;

  height: 10vw;
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button>.button-bottom,
.button>.button-top {
  grid-row: 1;
  grid-column: 1;

  height: 8vw;
}

.button>.button-bottom {
  background: var(--secondary-colour-shade);
  width: 40vw;

  margin-top: 1vw;
  border: 0.15vw solid black;

  border-radius: 2vw;
}

.button>.button-top {
  background: var(--secondary-colour);
  width: 40vw;
  border: 0.15vw solid black;

  border-radius: 2vw;

  transition: margin-top 0.25s ease-in;
}

.button>.button-top:hover {
  margin-top: 1vw;
  transition: margin-top 0.25s ease-in;
}

.logo-image {
  height: 8vw;
}

.logo-image-back {
  height: 8vw;
  margin-top: 2.5vw;
}

.link-button>.button-bottom,
.link-button>.button-top {
    grid-row: 1;
    grid-column: 1;

    height: 6vw;
} 

.link-button>.button-top>a:hover {
    margin-top: 1vw;
    transition: margin-top 0.25s ease-in;
}

.link-button>.button-top {
  border-radius: 5vw;
}

.link-button>.button-bottom {
  background: var(--secondary-colour-shade);
  width: 6vw;

  margin-top: 2vw;
  border: 0.15vw solid black;
  border-radius: 5vw;
}


/* ABOUT ME */
.about-me-content{
  margin-top: 2vw;

  font-size: 1.5vw;
}

.profile-pic {
  width: 18vw;
  margin: 1vw 2vw;
  margin-left: 1vw;

  border-radius: 1vw;
  border: 0.15vw solid black;
}

.hero-panel {
  display: grid;
  margin: 0vw 0vw 1vw;

  min-height: 30vw;
}

.hero-panel>.bottom {
  background: var(--tertiary-colour-shade);
  height: 35vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.hero-panel>.top {
  background: var(--tertiary-colour);
  color: white;
  height: 35vw;
  font-size: 1.5vw;
  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-panel>.top p{
  margin-right: 2.5vw;
  line-height: 3vw;
  color: white;

}

.about-me-lists{
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 1.5vw;
  margin-top: 3vw;

}

.about-me-list {
  background: var(--tertiary-colour);
  color: white;
  min-width: 18vw;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#middle-list {
  margin: 0vw 2vw;
}

/* List Header Style */
.list-header {
  background: var(--primary-colour);
  color: white;
  height: 3vw;
  
  border: 0.15vw solid black;
  border-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-header> h1 {
  font-size: 1.75vw;
  font-weight: bold;
}


/*List Body Style*/
.list-body {
  display: grid;
}

.list-body>.bottom {
  background: var(--secondary-colour-shade);
  height: 10vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.list-body>.top {
  background: var(--secondary-colour);
  color: white;
  height: 10vw;
  font-size: 1.5vw;

  border: 0.15vw solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-body>.top>ul {
  padding: 0;
  margin: 1vw 0vw 0vw;
}

.list-body>.top>ul li{
  list-style: none;
  text-decoration: none;

  margin-bottom: 1vw;
}

.wip {
  height:30vw;
  margin: 8vw 0vw;
}

/* BIG PROJECTS TAB*/
.big-projects-container{
  display: grid;

  margin-bottom: 2vw;
  width: 100%;
  height: auto;

  justify-content: center;
}

#project-1{
  grid-row: 1;
  grid-column: 1;
}

#project-2{
  grid-row: 2;
  grid-column: 1;
}

#project-3{
  grid-row: 3;
  grid-column: 1;
}

#project-4{
  grid-row: 4;
  grid-column: 1;
}

.big-project {
  display: flex;

  width: 100%;
  height: 26vw;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  margin-top: 2vw;
}

.big-project-button {
  display: grid;
  width: 42.5%;
}

.big-project-button>.bottom {
  background: var(--tertiary-colour);
  height: 25vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.big-project-button>.top {
  height: 25vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: margin-top 0.25s ease-in;
}

.big-project-button>.top a{
  position: relative;
  height: 100%;
  border: 0.15vw solid black;
}

.big-project-button>.top:hover{
  margin-top: 1.075vw;
}

.big-project-button>.top:hover .big-preview{
  transition: opacity .5s 0.30s ease;
  opacity: 0.9;
}

.big-project-button>.top.left a,
.big-project-button>.bottom.left,
.big-project-image.left  {
  border-radius: 1vw 0vw 0vw 1vw;
}

.big-project-button>.top.right a,
.big-project-button>.bottom.right,
.big-project-image.right  {
  border-radius: 0vw 1vw 1vw 0vw;
}

.big-project-content{
  display: flex;

  height: 100%;
  width: 100%;
  line-height: 0;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.big-project-link{
  display: flex;
  width: 100%;
  height: 25vw;

  justify-content: center;
  align-items: center;
}

.big-project-image {
  height: 25vw;
  width: 100%;

  object-fit: cover;
}

.big-project-description {
  display: grid;
  width: 70%;
}

.big-project-description>.bottom {
  background: var(--primary-colour-shade);
  height: 25vw;
  margin-top: 1vw;
  border: 0.15vw solid black;
}

.big-project-description>.top {
  background: var(--primary-colour);
  display: flex;
  border: 0.15vw solid black;
  height: 25vw;


  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-project-description>.top.left,
.big-project-description>.bottom.left{
  margin-right: 0.5vw;
  border-radius: 1vw 0vw 0vw 1vw;
}

.big-project-description>.top.right,
.big-project-description>.bottom.right{
  margin-left: 0.5vw;
  border-radius: 0vw 1vw 1vw 0vw;
}


.big-project-description>.top>.project-text {
  display: flex;

  height: 60%;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-text p {
  color: white;
  font-size: 1.25vw;
  line-height: 1.5vw;
  width: 90%;

  margin-top: 2.5vw;
}

.project-tags {
  display: flex;

  height: 40%;
  width: 90%;

  border-top: 0.25vw solid black;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-tag {
  display: flex;
  flex: 1;
  background: var(--tertiary-colour);
  color: white;
  height: 3.5vw;

  font-weight: bold;
  font-size: 1.25vw;

  border: 0.15vw solid black;
  border-radius: 0.5vw;
  margin: 1vw;

  justify-content: center;
  align-items: center;
}

.big-preview-back{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: end;
}

.big-preview{
  position: absolute;
  display: flex;
  height: 30%;
  width: 100%;
  background: rgb(34, 34, 34);
  opacity: 0;
  padding: 1vw 0vw;
  border-top: 0.15vw solid black;
  align-content: center;
  justify-content: center;

  transition: opacity .5s ease;
}

.big-preview.left{
  border-bottom-left-radius: 0.85vw;
}

.big-preview.right{
  border-bottom-right-radius: 0.85vw;
}

.big-preview img{
  height: 100%;
  object-fit: cover;
}

/* WRITINGS -----------------------------------*/
.articles {
  display: flex;

  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2vw;
}

.article {
  display: grid;
  
  width: 100%; 
  margin-top: 2vw;
}

.article>.bottom{
  background: var(--tertiary-colour-shade);
  height: 12vw;
  margin-top: 1vw;

  border: 0.15vw solid black;
  border-radius: 1vw;

}

.article>.top{
  background: var(--tertiary-colour);
  color: white;

  height: 12vw;
  border: 0.15vw solid black;
  border-radius: 1vw;

  text-align: left;
  font-size: 1.25vw;

  justify-content: center;
  align-items: start;
  flex-direction: column;

  transition: margin-top .5s  ease;
}

.article>.top:hover {
  margin-top: 1vw;
  transition: margin-top .5s ease;
}

.article>.top a {
  display: grid;
  grid-template-columns: 75% 25%;

  text-decoration: none;
  color: white;
  height: 100%;
}

.article>.top img {
  grid-column: 2;
  grid-row: 1;

  width: 100%;
  height: 12vw;
  border-left: 0.15vw solid black;
  border-radius: 0vw 1vw 1vw 0vw;
  justify-self: end;
  object-fit: cover;
}

.article-details {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  height: 100%;
}

.article>.top h1, 
.article>.top h3,
.article>.top p{
  margin: 0vw 2.5vw;
  line-height: 2vw;
}



/*------------------------------------*/
footer {
  display: flex;
  background: var(--secondary-colour);
  position: relative;
  margin-top: 2vw;
  color: white;
  width: 100%;
  height: 8vw;

  border-top: 0.15vw solid black;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 7vw;
 
  z-index: 2;
}

.footer-middle {
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  display: grid;
}

.footer-text>.bottom {
  background: var(--primary-colour-shade);
  width: 22vw;
  height: 2vw;
  border: 0.15vw solid black;
  margin-top: 0.5vw;
  margin-bottom: -0.65vw;
}

.footer-text>.top {
  background: var(--primary-colour);
  width: 22vw;
  height: 2vw;
  border: 0.15vw solid black;
  margin-bottom: -0.65vw;

}

.footer-text p {
  font-size: 1vw;
  line-height: 0.25vw;
  text-align: center;
}

/* Color Changing Button -----------------------*/
.footer-buttons {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.color-button {
  display: grid;
}

.color-button>.bottom {
  margin-top: 0.5vw;
  height: 3vw;
  width: 20vw;

  border-radius: 1vw;
  border: 0.15vw solid black;
}

.color-button>.top {
  height: 3vw;
  width: 20vw;

  border-radius: 1vw;
  border: 0.15vw solid black;
  transition: margin-top .5s  ease;
}

.color-button>.top a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 1vw;
}

.color-button>.top:hover{
  margin-top: 0.5vw;
  transition: margin-top .5s  ease;
  cursor: pointer;
}

/* Repository Button ------------------------------*/
.repository-button {
  display: grid;
}

.repository-button>.bottom {
  background: var(--tertiary-colour-shade);
  margin-top: 0.5vw;

  border: 0.15vw solid black;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;

  height: 2vw;
  width: 22vw;
}

.repository-button>.top {
  display: flex;
  background: var(--tertiary-colour);
  height: 2vw;
  width: 22vw;

  border: 0.15vw solid black;
  border-bottom-right-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;

  align-items: center;
  justify-content: center;

  transition: margin-top .5s  ease;
}

.repository-button>.top:hover {
  margin-top: 0.5vw;
  transition: margin-top .5s  ease;
}

.repository-link {
  display: flex;
  color: white;
  line-height: 1vw;
  font-size: 1vw;
  text-decoration: none;

  flex: 1;
  height: 100%;
  border-radius: 1vw;

  align-items: center;
  justify-content: center;
}